
        TABLE {
         border-collapse: collapse; /* Убираем двойные линии между ячейками */
         table-layout: fixed;
         width: 100%;
        }
        TD, TH {
         padding-lift: 100px; /* Поля вокруг содержимого таблицы */
         border: 2px solid black; /* Параметры рамки */
        }
        TH {
         background: #b0e0e6; /* Цвет фона */
        }
        P{
                font-weight: bolder;
                text-align: center;
        }
        conteiner{
        width: 1840px;
        margin: 0px auto;
        }
        body{
        min-width: 1840px;
        }